$primary:   rgba( 62,123, 22,1);	/* Main Primary color */
$primary-0: $primary;
$primary-1: rgba(134,193, 96,1);
$primary-2: rgba( 92,155, 51,1);
$primary-3: rgba( 36, 87,  2,1);
$primary-4: rgba( 21, 53,  0,1);

$secondary-1:   rgba( 17, 94, 67,1);	/* Main Secondary color (1) */
$secondary-1-0: $secondary-1;
$secondary-1-1: rgba( 73,147,121,1);
$secondary-1-2: rgba( 39,118, 90,1);
$secondary-1-3: rgba(  2, 67, 44,1);
$secondary-1-4: rgba(  0, 40, 26,1);

$secondary-2:   rgba(140, 62, 25,1);	/* Main Secondary color (2) */
$secondary-2-0: $secondary-2;
$secondary-2-1: rgba(220,145,109,1);
$secondary-2-2: rgba(176, 97, 58,1);
$secondary-2-3: rgba( 99, 34,  2,1);
$secondary-2-4: rgba( 60, 19,  0,1);

$complement:   rgba(128, 23, 49,1);	/* Main Complement color */
$complement-0: $complement;
$complement-1: rgba(200,100,125,1);
$complement-2: rgba(161, 53, 80,1);
$complement-3: rgba( 91,  2, 24,1);
$complement-4: rgba( 55,  0, 14,1);

// from http://paletton.com/#uid=72D0u0kqchzg3r-lpm8vdctGJ7x